@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.custom-scroll {
    scrollbar-width: thin;             
    scrollbar-color: #7c7c7c #f4f4f4; 
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-button {
    display: none;
}

#nprogress .bar {
    height: 4px !important;
    background: #ff1b1b !important;
}

[v-cloak] {
    display: none;
}